$general_font: Verdana,
    Geneva,
    Tahoma,
    sans-serif;

$mobile_s_size: 320px;
$mobile_m_size: 375px;
$mobile_l_size: 425px;
$tablet_size: 768px;
$laptop_size: 1024px;
$laptop_l_size: 1440px;
