@model Core.DTO.Email.ConfirmationEmailDTO

<!DOCTYPE html>
<html>
<head>
</head>
<body style="margin: 0% 20%;padding: 1px 5%;background-color:#093545;color:white;text-align:center">
    <h2 style="margin: 20px;font-size: 20px;">NETLIS</h2>

    <p style="font-size: large">Dear <span style="font-weight: 900">@Model.Name @Model.Surname</span>,</p>

    <p>
        You received this message because you are trying to reset your password on Netlis.
        Verify yourself and confirm your attempt to reset your password by clicking below.
        <br />
        <br />
    </p>

    <button style="border:none;border-radius: 5px;background-color:#20df7f;padding: 6px 20px;">
        <a href=@Model.Link style="text-decoration: none; color: white; font-weight: 900">Confirm Reset Password</a>
    </button>

    <p style="font-size: 10px;">
        <br />
        If you did not enter your email address, then we apologize.
        Just ignore this email and don't click above.
    </p>
</body>
</html>
