#usersBriefInfoPage {
    justify-content: center;

    #container {
        display: flex;
        align-items: center;
        flex-direction: column;

        #title {
            font-size: 20pt;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .userCard {
            margin: 10px 12px;
            box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
            border-radius: 15px;
            justify-content: center;
            width: 100%;

            .userInformation {
                display: flex;
                align-content: space-between;
                align-items: center;
                padding: 10px;

                img {
                    width: 25px;
                }

                .fullName,
                .phoneNumber,
                .email {
                    width: 40%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }

                .isConfirmed {
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                p {
                    display: flex;
                    justify-content: center;
                    margin: 5px;
                    word-break: break-all;
                }

                .editIcon {
                    margin-left: 35px;
                }
            }
        }

        .ant-pagination {
            margin-top: 20px;
        }
    }
}
