@import '../variables/colors';

.viewProfileInfoPage {
    justify-content: center;

    #infoBlock {
        padding: 40px 40px 25px 40px;
        box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
        border-radius: 10px;
        background: white;

        .info {
            margin-bottom: 15px;

            div {
                display: inline-block;
            }

            .infoName {
                width: 40%;
            }

            .infoInput div {
                width: 100%;
            }

            .inputBlock {
                .ant-form-item-control-input {
                    padding-right: 20%;

                    Input {
                        width: 32vw;
                    }
                }


                width: 60%;
                display: inline-block;
            }
        }

        .blockButton {
            display: flex;
            justify-content: space-between;

            .profileButtons {
                justify-content: end;
            }
        }
    }
}
